In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

In [50]:
df = pd.DataFrame(
    {'Proba': [0.25, 0.5, 0.25],
     'Retorno': [0.15, 0.19, 0]
})

VE = np.dot(df['Proba'], df['Retorno']) 
VE* 100

np.float64(13.25)

In [7]:
np.sqrt(np.dot(df['Proba'], (df['Retorno'] - VE)**2)) * 100

np.float64(7.822243923581008)

---

In [14]:
datos = pd.read_excel('datos_excel.xlsx').drop('ACWI', axis=1)
datos.head()

         EMM         QQQ         SPY        VXX
0  25.514492  399.167480  463.892944  62.080002
1  25.365185  394.943665  460.104431  64.400002
2  25.307835  392.911102  458.622467  64.320000
3  25.367163  393.377075  459.250610  62.200001
4  25.579750  401.507385  465.806854  60.759998

In [25]:
returns = datos.pct_change().dropna()

mean_returns = returns.mean()
mean_returns * 100 * 252

EMM    13.264923
QQQ    25.156162
SPY    22.124010
VXX    -6.696105
dtype: float64

In [22]:
w = np.array([0.25, 0.3, 0.25, 0.2])

cov = returns.cov()

In [21]:
#Retorno anual del portafolio

p_anual_return = np.dot(mean_returns, w) * 252
p_anual_return * 100

np.float64(15.054860970840952)

In [27]:
# Volatilidad diaria de VXX
VXX_vol = returns['VXX'].std()
VXX_vol * 100

np.float64(4.964970452171867)

In [65]:
# Calcula el Rendimiento compuesto anual de SPY
SPY_return = returns['SPY']

SPY_comp = (1 + SPY_return).prod() ** (1 / len(SPY_return)) - 1
SPY_comp * 100 * 252

np.float64(20.681615094014916)

In [58]:
returns['SPY'].mean()*252*100

np.float64(22.124010318219312)

In [41]:
# Volatilidad anual del portafolio
p_anual_vol = np.sqrt(w.T @ cov @ w) * np.sqrt(252)
p_anual_vol * 100

np.float64(9.98110434169854)

In [46]:
# Coeficiente de variación del portafolio
cv = p_anual_vol / p_anual_return
cv

np.float64(0.6629821664265427)

In [47]:
# Matriz de correlación
corr = returns.corr()
corr

          EMM       QQQ       SPY       VXX
EMM  1.000000  0.740039  0.710814 -0.638403
QQQ  0.740039  1.000000  0.960908 -0.756788
SPY  0.710814  0.960908  1.000000 -0.792019
VXX -0.638403 -0.756788 -0.792019  1.000000

In [51]:
bench = pd.read_excel('datos_excel.xlsx')['ACWI']
bench.head()

0    98.427727
1    97.647324
2    97.540024
3    97.627823
4    98.798416
Name: ACWI, dtype: float64

In [52]:
bench_returns = bench.pct_change().dropna()
bench_mean_return = bench_returns.mean() * 252
bench_vol = bench_returns.std() * np.sqrt(252)

cv_bench = bench_vol / bench_mean_return
cv_bench

np.float64(0.7455780614553611)